.wrappersteph{
  display:flex;
  flex-direction: column;
  margin: 100px auto;
}
  
.steph{
    object-fit: scale-down;
    margin-bottom: 80px;
}

.steph-msg{
    max-width: 1500px;
    margin: 0 auto;
    width: 90%;
    font-size: 20px;
}

.steph-msg-1{
    max-width: 1500px;
    margin: 15px auto;
    width: 90%;
    font-size: 20px;
}

@media screen and (min-width: 900px){
    .wrappersteph{
        flex-direction: row;
        max-width: 1500px;
    }
    .steph{
        margin-bottom: 0;
    }
}