* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

#to-top {
	opacity: .7;
	display: none;
	position: fixed;
	bottom: 16px;
	right: 16px;
	z-index: 99;
	border: none;
	background: #414a59;
	color: #f5f6f7;
	cursor: pointer;
	padding: 12px;
	border-radius: 6px;
	font-size: 14px;
}

#to-top:hover {
	opacity: 1;
}

:root {
	--purple: #ac83cf;
	--darkpinkhover: #3e2152;
	--grey: #808080;
	--white: #ffffff;
	--black: #000000;
	--titles: #282828;
	--headerfooter: #393939;
}

.wrappersteph {
	display: flex;
	flex-direction: column;
	margin: 100px auto;
}

.steph {
	object-fit: scale-down;
	margin-bottom: 80px;
}

.steph-msg {
	max-width: 1500px;
	margin: 0 auto;
	width: 90%;
	font-size: 20px;
}

.steph-msg-1 {
	max-width: 1500px;
	margin: 15px auto;
	width: 90%;
	font-size: 20px;
}

@media screen and (min-width:900px) {
	.wrappersteph {
		flex-direction: row;
		max-width: 1500px;
	}
	.steph {
		margin-bottom: 0;
	}
}

.brand-quote {
	text-align: center;
	padding: 80px 0;
	font-size: 20px;
}

.main {
	display: grid;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

.gal {
	border-radius: 25px;
	width: 100%;
	object-fit: contain;
	height: 125px;
}

@media screen and (min-width:320px) {
	.main {
		grid-template-columns: repeat(1, 1fr);
		width: 90%;
		grid-gap: 1em;
	}
}

@media screen and (min-width:610px) {
	.main {
		grid-template-columns: repeat(2, 1fr);
		width: 70%;
		grid-gap: 1em;
	}
}

@media screen and (min-width:1200px) {
	.main {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		width: 60%;
	}
}

.container-fluid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 100px;
	margin-bottom: 100px;
}

.chats {
	border-radius: 30px;
	padding: 10px;
}

.fill-info {
	/*padding: 1px;*/
}

.name {
	border: 1px solid var(--purple);
	padding: 10px;
}

.email {
	border: 1px solid var(--purple);
	margin-top: 10px;
	padding: 10px;
}

.message {
	border: 1px solid var(--purple);
	margin-top: 10px;
	font-family: Arial;
	padding: 10px;
}

.submit {
	margin-top: 10px;
	border: 1px solid var(--purple);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.submit:hover {
	cursor: pointer;
}

.chat {
	width: 250px;
	margin-top: 10px;
}

.bolded {
	font-weight: 700;
	font-size: 20px;
}

.underline {
	text-decoration: underline;
}

.quote-slider {
	overflow: hidden;
	width: 100%;
	height: 400px;
	background-color: #d3d3d3;
	list-style: none;
	position: relative;
}

.quote-slider li {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -60%;
	width: 60%;
	font-family: sans-serif;
	font-size: 20px;
	font-style: italic;
	text-align: center;
}

.site {
	font-family: sans-serif;
	font-style: normal;
	margin-top: 40px;
	font-size: 16px;
}

@media (min-width:600px) {
	.container-fluid {
		flex-direction: row;
	}
}

.divide {
	background-color: var(--grey);
	padding: .5em 3em;
	text-align: center;
}

.divide h2 {
	color: var(--white);
	font-size: 2em;
	margin: 0;
	padding-top: 2px;
	padding-bottom: 2px;
}

.anchor {
	position: relative;
	top: -61px;
}

@media screen and (min-width:900px) {
	.anchor {
		top: -50px;
	}
}

.footer {
	padding: 20px 12px;
	background-color: var(--headerfooter);
	text-align: center;
}

.img1 {
	animation-name: fade;
	animation-duration: 1s;
	background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/logo/green.jpg) center top no-repeat fixed;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

.img2 {
	animation-name: fade;
	animation-duration: 1s;
	background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/logo/paul.jpg) center bottom no-repeat fixed;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

.img3 {
	animation-name: fade;
	animation-duration: 1s;
	background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/logo/sf.jpg) center top no-repeat fixed;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

.title-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.title {
	color: var(--white);
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

.subtitle {
	text-decoration: none;
	background: 0 0;
	cursor: pointer;
	color: var(--white);
	padding: 13px 40px;
	margin-top: 23px;
	border-radius: 10px;
	font-weight: 600;
	box-shadow: 0 8px 16px 0 rgba(255, 255, 255, .3), 0 6px 20px 0 rgba(255, 255, 255, .3);
	border: 3px solid #fff;
	border-radius: 10px;
}

.subtitle:hover {
	color: var(--purple);
	border: 3px solid var(--purple);
}

.prev {
	position: absolute;
	left: 6%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: var(--white);
	cursor: pointer;
	font-weight: 700;
}

.next {
	position: absolute;
	left: 94%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	cursor: pointer;
	font-weight: 700;
}

.next:hover,
.prev:hover {
	color: var(--purple);
}

@keyframes fade {
	0% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (min-width:320px) {
	.next {
		font-size: 10px;
	}
	.prev {
		font-size: 10px;
	}
}

@media screen and (min-width:400px) {
	.title {
		font-size: 25px;
	}
	.subtitle {
		font-size: 14px;
	}
	.next {
		font-size: 20px;
	}
	.prev {
		font-size: 20px;
	}
}

@media screen and (min-width:450px) {
	.title {
		font-size: 28px;
	}
	.subtitle {
		font-size: 16px;
	}
	.next {
		font-size: 30px;
	}
	.prev {
		font-size: 30px;
	}
}

@media screen and (min-width:610px) {
	.title {
		font-size: 40px;
	}
	.subtitle {
		font-size: 20px;
	}
	.next {
		font-size: 40px;
	}
	.prev {
		font-size: 40px;
	}
}

@media screen and (min-width:900px) {
	.title {
		font-size: 55px;
	}
	.next {
		font-size: 50px;
	}
	.prev {
		font-size: 50px;
	}
}

.nav-wrap {
	background-color: var(--headerfooter);
	font-family: sans-serif;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.nav-hamburger {
	position: absolute;
	right: 20px;
	top: 30px;
	font-size: 25px;
	cursor: pointer;
	color: #fff;
}

.logo-title-wrap {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style-type: none;
}

.anchor-color {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

.content-nav {
	font-size: 20px;
	list-style-type: none;
	display: none;
}

.nav-links {
	text-decoration: none;
	color: #fff;
}

.content-nav li {
	text-align: center;
	margin: 15px auto;
}

.active {
	display: block;
}

@media screen and (min-width:900px) {
	.nav-wrap {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 5em;
	}
	.content-nav {
		display: flex;
		margin-right: 30px;
	}
	.logo-title-wrap {
		color: var(--white);
		font-size: 20px;
		left: 10px;
		margin: 12px auto;
		position: absolute;
		text-align: center;
		top: -10px;
	}
	.nav-links {
		margin-left: 30px;
	}
	.nav-hamburger {
		display: none;
	}
	.logo:hover,
	.nav-links:hover {
		color: var(--purple);
	}
}

.service-wrap {
	display: grid;
	max-width: 1500px;
	margin: 100px auto;
	width: 90%;
	grid-gap: 3em;
}

.flip-card {
	border-radius: 25px;
	height: 300px;
	position: relative;
	box-shadow: 0 0 8px #ac83cf;
}

.front {
	background-size: cover;
	background-position: center center;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	height: 150px;
	position: absolute;
	width: 100%;
}

.service-icon {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.first-tag {
	color: #000;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 600;
	margin-top: 80px;
	text-align: center;
}

.re {
	position: absolute;
	top: 100%;
	width: 100%;
	margin: 0 auto;
	height: 150px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.second-tag {
	color: #000;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
}

.red {
	background-color: #dc4755;
}

.orange {
	background-color: #df6626;
}

.yellow {
	background-color: #e5a023;
}

.blue {
	background-color: #4ba5b2;
}

.green {
	background-color: #a2cd6a;
}

@media (min-width:600px) {
	.service-wrap {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width:992px) {
	.service-wrap {
		grid-template-columns: repeat(5, 1fr);
	}
	.second-tag {
		font-size: 15.5px;
	}
}

@media (min-width:1210px) {
	.second-tag {
		font-size: 20px;
	}
}

.hvrbox {
	display: inline-block;
	overflow: hidden;
	position: relative;
	max-width: 100%;
}

.hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	border-radius: 10px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	color: #fff;
	transition: all .4s ease-in-out 0s;
	cursor: pointer;
}

.hvrbox:hover .hvrbox-layer_top {
	opacity: 1;
}

.hvrbox-text {
	text-align: center;
	font-size: 30px;
	margin-top: 100px;
}

.hvrbox-text-1 {
	text-align: center;
	font-size: 24px;
}

.section {
	display: grid;
	margin: 100px auto;
}

.card-image {
	object-fit: cover;
	width: 100%;
	height: 250px;
	border: 1px solid #ac83cf;
	border-radius: 10px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000;
	background-color: rgba(0, 0, 0, .4);
	border: 2px solid #ac83cf;
}

.modal-content {
	background-color: #fff;
	width: 1000px;
	margin: auto;
	padding: 2em;
	border-radius: 10px;
}

.modal-indent {
	margin-top: 20px;
	font-size: 20px;
}

.close {
	float: right;
	font-size: 28px;
	font-weight: 700;
}

.close:focus,
.close:hover {
	color: #ac83cf;
	text-decoration: none;
	cursor: pointer;
}

.project-title {
	font-size: 40px;
}

.work-quote {
	font-size: 16px;
}

.font {
	margin-top: 25px;
	font-size: 10px;
}

@media screen and (max-width:1000px) {
	.modal {
		padding: 0;
	}
	.modal-content {
		width: auto;
		border-radius: 0;
		padding: 1em;
	}
}

@media screen and (min-width:320px) {
	.section {
		grid-template-columns: repeat(1, 1fr);
		width: 90%;
		grid-gap: 1em;
	}
}

@media screen and (min-width:610px) {
	.section {
		grid-template-columns: repeat(2, 1fr);
		width: 70%;
		grid-gap: 1em;
	}
}

@media screen and (min-width:1200px) {
	.section {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		width: 60%;
	}
}