* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-family: 'Baskervville', serif;
}

body {
	overflow-x: hidden;
}

#to-top {
	opacity: .7;
	display: none;
	position: fixed;
	bottom: 16px;
	right: 16px;
	z-index: 99;
	border: none;
	background: #414a59;
	color: #f5f6f7;
	cursor: pointer;
	padding: 12px;
	border-radius: 6px;
	font-size: 14px;
}

#to-top:hover {opacity: 1;}

:root {
	--darkgray: #2c2d36;
	--white: #ffffff;
	--black: #000000;
	--lightgrey: #d3d3d3;
}