.work-divider{
	text-align: center;
	padding: .5em 3em;
	text-align: center;
}

.work-title{
	color: var(--black);
	font-size: 2em;
	margin: 0;
	padding-top: 75px;
	padding-bottom: 2px;
}

.brands-title{
	color: var(--black);
	font-size: 2em;
	margin: 0;
	padding-top: 25px;
	padding-bottom: 2px;
}

.about-title{
	color: var(--black);
	font-size: 2em;
	margin: 0;
	padding-top: 75px;
	padding-bottom: 2px;
}
.contact-title{
	color: var(--black);
	font-size: 2em;
	margin: 0;
	/*padding-top: 75px;*/
	padding-bottom: 2px;
}

.contact-divider{
	background-color: white;
	padding: .5em 3em;
	text-align: center;
	padding-top: 75px;
}

.divide-about{
	background-color: white;
	padding: .5em 3em;
	text-align: center;
}

.divide {
	background-color: lightgrey;
	padding: .5em 3em;
	text-align: center;
}

.divide h2 {
	color: var(--black);
	font-size: 2em;
	margin: 0;
	padding-top: 75px;
	padding-bottom: 2px;
}

.anchor {
	position: relative;
	top: -75px;
}

@media screen and (min-width:900px) {
	.anchor {
		top: -75px;
	}
}