.service-wrap{
  display: grid;
  max-width: 1500px;
  margin: 120px auto;
  width: 90%;
  grid-gap: 3em;
}

.flip-card {
  border-radius: 25px;
  height: 300px;
  position: relative;
  box-shadow: 0 0 8px #ac83cf;
}

.front{
  background-size: cover;
  background-position: center center;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  height: 150px;
  position: absolute;
  width: 100%;
}

.service-icon{ 
  height: 50px;
  width: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first-tag{
  color: black;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  margin-top: 80px;
  text-align: center;
}

.re{
  position: absolute;
  top: 100%;
  width: 100%;
  margin: 0 auto;
  height: 150px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-tag{
  color: black;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.red{background-color: #dc4755;}
.orange{background-color: #df6626;}
.yellow{background-color: #e5a023;}
.blue{background-color: #4ba5b2;}
.green{background-color: #a2cd6a;
}

@media (min-width: 600px){
  .service-wrap{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .service-wrap{
    grid-template-columns: repeat(5, 1fr);
  }
}